/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_dark {
  --inner-color: #f1b2ce;
  --border-color: #ff0070;
  --text-color: #000;
  --title-color: #db00ff;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;
}



@media (prefers-color-scheme: dark) {
  /* Стили темной темы */

  .page {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    background-image: url(../images/cover-image-dark.png);
    background-color: #000028;
  }
  .header__theme-menu-button {
    color: #ff0070;
  }

  .section_inner_title_text {
    color: #f1b2ce;
  }

  .section_inner_title_text_1 {
    background-color: #ff0070;
  }

  .title {
    color: #ff0070;
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid #ff0070;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #ff0070;
  }

  .header__theme-menu-button_active {
    outline: 1px solid #ff0070;
    border: none;
  }

  .header_inner_rec_title {
    border-top: 1px solid #ff0070;
    border-right: 1px solid #ff0070;
  }

  .header_inner_rec_title_o {
    display: block;
    background-color: #ff0070;
  }

  .header_focus {
    color: #db00ff;
    text-shadow: 4px 4px 0px #ff0070;
  }

  .header_inner {
    background-color: #ff0070;
  }

  .header_u {
    border-bottom: 1px solid #ff0070;
    border-left: 1px solid #ff0070;
  }

  .header_inner_rec_text {
    display: block;
    color: #ff0070;
  }

  .footer-text {
    color: #db00ff;
    text-shadow: 2px 2px 0px #ff0070;
  }
}
