/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  --inner-color: #f1b2ce;
  --border-color: #ff0070;
  --text-color: #000;
  --title-color: #db00ff;
  --background-color: #ff0070;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.theme_dark .header__theme-menu-button {
  color: #ff0070;
}

.theme_dark .section_inner_title_text {
  color: #f1b2ce;
}

.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid #ff0070;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid #ff0070;
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid #ff0070;
}

.theme_dark .header_inner_rec_title {
  border-top: 1px solid #ff0070 ;
  border-right: 1px solid #ff0070;
}

.theme_dark .header_inner_rec_title_o {
  display: block;
  background-color: #ff0070;
}

.header_focus {
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.theme_dark .header_focus {
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
}

.theme_dark .header_inner {
  background-color: #ff0070;
}

.theme_dark .header_u {
  border-bottom: 1px solid #ff0070 ;
  border-left: 1px solid #ff0070;
}

.theme_dark .header_inner_rec_text {
  display: block;
  color: #ff0070;
}

.theme_dark .footer-text {
  color: #db00ff;
  text-shadow: 4px 4px 0px #FF0070;
}