@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* Глобальные стили для проекта, их можно дополнять и менять по желанию */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.g {
  margin: 0 auto;
  width: 100%;
  margin-top: 80px;
}

.header_focus {
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.transfer {
  display: none;
}

.transfer_1 {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__theme-menu {
    padding-top: 0;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end !important;
  }

  .header {
    height: 100vh !important;
  }

  .header_inner_rec {
    top: 20px;
  }

  .header__theme-menu-list {
    margin-top: 172px;
    display: flex;
    flex-direction: column;
  }

  header .header_title {
    margin-top: 114px;
    padding: 0;

  }

  header .header_focus {
    font-size: 120px;
  }

  body > .container {
    width: 728px;
  }

  header > .header_inner {
    width: 364px;
    margin-top: 129px;
  }
  .section_inner_title_2 {
    width: 100% !important;
  }

  div.section-inner_2 {
    flex-direction: column;
  }

  .gallery_inner > .gallery_item_1 {
    width: 479px;
    height: 192px;
  }

  .gallery_inner > .gallery_item_2 {
    width: 229px;
    height: 441px;
  }

  .gallery_item_2 img {
    height: 441px !important;
  }

  .gallery_inner > .gallery_item_3 {
    width: 229px;
    height: 568px;
  }

  .gallery_item_3 > img {
    height: 568px !important;
  }

  .gallery_inner > .gallery_item_4 {
    width: 230px;
    height: 230px;
  }

  .gallery_inner > .gallery_item_5 {
    width: 479px;
    height: 318px;
  }

  .gallery_inner img {
    width: 100%;
  }

  footer .footer-text {
    padding-top: 465px;
    font-size: 120px;
  }

  .transfer {
    display: block;
  }
}

@media screen and (max-width: 375px) {

.container {
  margin-top: 35px !important;
  width: 355px !important;
}

  header .header_inner_rec {
    top: 10px;
    right: 10px;
  }

  header div .header_focus {
    font-size: 116px;
}

body header .header_inner {
  margin-top: 116px;
}

  .header_title {
    width: 355px !important;
    margin-top: 66px !important;
  }
  .header_title,
  .header_inner {
    margin-left: 10px !important;
  }

  .header_inner {
    width: 355px !important;
    position: static !important;
  }

  body .section {
    flex-direction: column;
  }

  main > .gallery,
  main > .section,
  main > .g {
    margin-top: 50px;
  }

  section .title {
    width: 100%;
  }

  .section_2 {
    padding-top: 49px;
  }

  .gallery_inner {
    display: flex !important;
    flex-direction: column;
    gap: 10px !important;
  }

  .gallery_item {
    width: 354.999px !important;
    height: auto !important;
  }

  .gallery_item_1 > img {
    height: 142px !important;
  }

  .gallery_item_2 > img,
  .gallery_item_4 > img {
    height: 355px !important;
  }

  .gallery_item_3 > img,
  .gallery_item_5 > img {
    height: 232px !important;
  }

  .section {
    margin-top: 0 !important;
    gap: 16px !important;
  }

  .section-inner {
    margin-top: 9px;
    width: 100% !important;
  }

  .section-inner_2 {
    padding-top: 11px !important;
  }

  .section-inner_3 {
    margin-top: 5px !important;
  }

  header .header__theme-menu {
    padding-top: 0;
    padding-right: 10px;
  }

  .header__theme-menu-list {
    margin-top: 75px
  }

  header .header_u {
    bottom: 10px;
    left: 10px;
  }

  body .footer {
    margin-top: 19px !important;
    height: 100vh !important;
  }

  .footer_rec {
    top: 10px !important;
    right: 10px !important;
  }

  footer > .header_u {
    bottom: 11px;
    left: 10px;
  }

  .footer .footer-text {
    padding-top: 287px !important;
    font-size: 113px !important;
}

  .transfer {
    display: none;
  }
}
