/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  background-color: #fdeef7;
}

:root .theme_light {
  --border-color: #353430;
  --title-color: #ffc2e6;
  --inner-color: #000;
  --nex-color: #ff8dcb;
  --disply-block: none;
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: #fdeef7;
  }
  :root {
    --border-color: #353430;
    --title-color: #ffc2e6;
    --inner-color: #000;
    --nex-color: #ff8dcb;
    --disply-block: none;
  }
}
