/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --inner-color: #f1b2ce;
  --border-color: #ff0070;
  --text-color: #000;
  --background-color: #000028;
  --title-color: #db00ff;
}

.container {
  width: 984px;
  margin: 0 auto;
  margin-top: 60px;
}

.section_1 {
  margin: 0 auto;
  width: 100%;
  margin-top: 80px;
}

/* header */

.header {
  position: relative;
  height: 100vh;
}

.header_focus {
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.header_inner_rec_title {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
}

.header_inner_rec {
  margin-left: 306px;
  top: 20px;
  display: flex;
  position: absolute;
  right: 20px;
}

.header_inner_rec_text {
  position: absolute;
  right: 48px;
  top: 20px;
  text-align: center;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header_inner_rec_title_o {
  width: 9px;
  height: 9px;
  border-radius: 180px;
  margin: auto;
  margin-top: 8px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-align: center;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  padding: 0px 13px;
  border: none;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header_title {
  width: 759px;
  margin-top: 274px;
}

.header_inner {
  width: 491px;
  position: absolute;
  margin-top: 114px;
  right: 20px;
}

.header_text {
  color: #000028;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.header_u {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

/* section */

.section {
  display: flex;
  gap: 20px;
}

.section_2 {
  margin-top: 81px;
  display: grid;
  grid-template-areas:
    "a b b"
    "a c c"
    "a e e"
    "a d d"
    "a f f";
}

.section-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_inner_title_2 {
  width: 315px;
}

.section_inner_title_text_1 {
  color: #000028;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: #ff0070;
}

.section_inner_title_text {
  margin-top: 10px;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.section-inner_2 {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  padding-top: 20px;
}

.section-inner_3 {
  grid-area: b;
  gap: 0;
}

.section_inner_title_1 {
  margin-top: 19px;
}

.section-inner_4 {
  grid-area: c;
}

.section-inner_5 {
  grid-area: e;
}

.section-inner_6 {
  grid-area: d;
}

.section-inner_7 {
  grid-area: f;
}

/* title */

.title {
  color: #ff0070;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  width: 315px;
  grid-area: a;
}

/* gallery */
.gallery {
  margin-top: 79px;
}

.gallery_inner {
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    "a a b"
    "d c b"
    "d e e";
  gap: 20px;
}

.gallery_item {
  height: 100%;
  width: 100%;
}

.gallery_item_1 {
  grid-area: a;
}

.gallery_item_2 {
  grid-area: b;
}

.gallery_item_3 {
  grid-area: d;
}

.gallery_item_4 {
  grid-area: c;
}

.gallery_item_5 {
  grid-area: e;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

.footer {
  position: relative;
  text-align: center;
  margin-top: 60px;
  height: 100vh;
}

.footer_rec {
  position: absolute;
  right: 20px;
  top: 17px;
}

.footer-text {
  padding-top: 319px;
  text-shadow: 2px 2px 0px #ff0070;
  font-family: IBM Plex Mono, Arial, sans serif;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  /* Стили темной темы */

  .page {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    background-image: url(../images/cover-image-dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000028;
  }

  .header__theme-menu-button {
    color: #ff0070;
  }

  .section_inner_title_text {
    color: #f1b2ce;
  }

  .section_inner_title_text_1 {
    background-color: #ff0070;
  }

  .title {
    color: #ff0070;
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid #ff0070;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #ff0070;
  }

  .header__theme-menu-button_active {
    outline: 1px solid #ff0070;
  }

  .header_inner_rec_title {
    border-top: 1px solid #ff0070;
    border-right: 1px solid #ff0070;
  }

  .header_inner_rec_title_o {
    display: block;
    background-color: #ff0070;
  }

  .header_focus {
    font-family: IBM Plex Mono, Arial, sans serif;
    font-size: 157px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%; /* 129.525px */
    color: #db00ff;
    text-shadow: 4px 4px 0px #ff0070;
  }

  .header_inner {
    background-color: #ff0070;
  }

  .header_u {
    border-bottom: 1px solid #ff0070;
    border-left: 1px solid #ff0070;
  }

  .header_inner_rec_text {
    display: block;
    color: #ff0070;
  }

  .footer-text {
    color: #db00ff;
    text-shadow: 2px 2px 0px #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  /*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
  .theme_light {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    background-image: url(../images/cover-image-light.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .header_inner_rec_title {
    border-top: 1px solid #353430;
    border-right: 1px solid #353430;
  }

  .header_u {
    border-bottom: 1px solid #353430;
    border-left: 1px solid #353430;
  }

  .header_inner_rec_text,
  .header_inner_rec_title_o {
    display: none;
  }
  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid #353430;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #353430;
  }

  .header__theme-menu-button_active {
    outline: 1px solid #353430;
  }

  .header__theme-menu-button {
    color: #353430;
  }

  .title {
    color: #353430;
    font-weight: 700;
  }

  .header_focus,
  .footer-text {
    color: #ffc2e6;
    text-shadow: 4px 4px 0px #ff8dcb;
  }

  .header_inner,
  .section_inner_title_text_1 {
    background-color: #ff8dcb;
  }

  .section_inner_title_text {
    color: #000;
  }
}

@media screen and (max-width: 1024px) {
.new-line::before {
    content: "\A";
    white-space: pre;
  }

  .new-line_2::before {
    content: "\A";
    white-space: pre;
  }

  .title {
    width: 478px;
  }

  .title_2 {
    width: 315px;
  }

  .section-inner_2 {
    padding-top: 21px;
  }
}

@media screen and (max-width: 768px) {
  .header__theme-menu {
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .header_inner_rec {
    top: 20px;
  }

  .header_inner_rec_title_o {
    margin-top: 7px;
    margin-right: 8px;
  }

  .header__theme-menu-list {
    margin-top: 172px;
    display: flex;
    flex-direction: column;
  }

  .header_title {
    margin-top: 174px;
    padding: 0;
  }

  .header_focus {
    font-size: 120px;
  }

  .container {
    width: 728px;
  }

  .header_inner {
    width: 364px;
    margin-top: 162px;
  }

  .section {
    gap: 50px;
  }

  .section_2 {
    gap: 0;
  }

  .section_inner_title_2 {
    width: 100%;
  }

  .section-inner_2 {
    flex-direction: column;
  }

  .section-inner_4,
  .section-inner_5,
  .section-inner_6,
  .section-inner_7 {
    margin-top: 20px;
  }

  .gallery_item_1 {
    width: 479px;
    height: 192px;
  }

  .gallery_item_2 {
    width: 229px;
    height: 441px;
  }

  .gallery_item_3 {
    width: 229px;
    height: 568px;
  }

  .gallery_item_4 {
    width: 230px;
    height: 230px;
  }

  .gallery_item_5 {
    width: 479px;
  }

  .gallery_inner img {
    width: 100%;
  }

  .footer-text {
    padding-top: 465px;
    font-size: 120px;
  }

  .title {
    width: 318px;
  }

  .title_2 {
    width: 256px;
  }

  .new-line::before {
    white-space: normal;
  }

  .new-lin_mobaile::before {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (max-width: 375px) {
  .container {
    margin-top: 30px;
    width: 355px;
  }

  .header {
    margin-top: 10px;
    position: static;
  }

  .header_inner_rec {
    top: 10px;
    right: 10px;
  }

  .header_inner_rec_text {
    right: 38px;
    top: 10px;
  }

  .header_inner_rec_title {
    right: 10px;
    top: 10px;
  }

  .header_focus {
    font-size: 116px;
  }

  .header_inner {
    margin-top: 56px;
    right: 10px;
    width: 355px;
  }

  .header_title {
    width: 355px;
    margin-top: 66px;
    margin-left: 10px;
  }

  body .section {
    flex-direction: column;
  }

  .gallery,
  .section,
  .g {
    margin-top: 50px;
  }

  .title {
    width: 100%;
  }

  .section_2 {
    padding-top: 49px;
    display: block;
  }

  .gallery_inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .gallery_item {
    width: 354.999px;
    height: auto;
  }

  .gallery_item_1 > img {
    height: 142px;
  }

  .gallery_item_2 > img,
  .gallery_item_4 > img {
    height: 355px;
  }

  .gallery_item_3 > img,
  .gallery_item_5 > img {
    height: 232px;
  }

  .section {
    margin-top: 0;
    gap: 11px;
  }

  .section-inner {
    margin-top: 9px;
    width: 100%;
  }

  .section-inner_2 {
    padding-top: 11px;
  }

  .section-inner_3 {
    margin-top: 21px;
  }

  .section-inner_4 {
    margin-top: 22px;
  }

  .section-inner_5 {
    margin-top: 19px;
  }

  .section-inner_6,
  .section-inner_7 {
    margin-top: 20px;
  }

  .header__theme-menu {
    padding-top: 0;
    padding-right: 10px;
  }

  .header__theme-menu-list {
    margin-top: 65px;
  }

  .header_u {
    bottom:10px;
    left: 10px;
  }

  .footer {
    margin-top: 40px;
  }

  .footer-text {
    font-size: 116px;
    padding-top: 288px;
  }

  .new-lin_mobaile::before {
    content: "\A";
    white-space: normal;
}

}
