/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --inner-color: #f1b2ce;
  --border-color: #ff0070;
  --title-color: #db00ff;
  --background-color: #000028;
  --light-color: #ffc2e6;
  --text-color: #000;
  --dark-color: #353430;
  --nex-color: #ff8dcb;
}
