/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --inner-color: #f1b2ce;
  --border-color: #ff0070;
  --title-color: #db00ff;
  --background-color: #000028;
  --text-color: #000;
  --nex-color: #ff0070;
  --disply-block: block;
}
